:root {
  --bg-primary: #0d1512;
  --bg-secondary: #111c18;

  --light-text: #c0c396;
  --dark-text: #111c18;
  --color-text: #d7d75c;

  --bg-button: #c0c396;

  --border-primary: #519374;
  --border-secondary: #c0c396;
}

* {
  box-sizing: border-box;

  padding: 0;
  margin: 0;

  color: var(--light-text);
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;

  background-color: var(--bg-primary);
}

.calculator-base {
  width: 382px;
  padding: 1.25rem;

  background-color: var(--bg-secondary);
  border: 1px solid var(--border-primary);
  border-radius: 1rem;
}

.display {
  padding-bottom: 1.25rem;

  border-bottom: 0.25px solid rgb(from var(--border-secondary) r g b / 15%);
}

.input {
  height: 1rem;
}

.result {
  height: 4rem;

  font-size: 4rem;
  text-align: end;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;

  padding-top: 1.5rem;
}

button {
  padding: 0.8rem 0;

  background-color: rgb(from var(--bg-button) r g b / 5%);
  border: 1px solid rgb(from var(--bg-button) r g b / 15%);
  border-radius: 0.5rem;
  outline: none;
  transition: 0.3s;

  font-size: 1.5rem;
}

button:hover {
  background-color: rgb(from var(--bg-button) r g b / 15%);
}

#all-clear {
  color: var(--color-text);
}

.operator {
  background-color: rgb(from var(--bg-button) r g b / 20%);
  border: none;
}

.operator:hover {
  background-color: rgb(from var(--bg-button) r g b / 40%);
}

#equal {
  color: var(--dark-text);
  background-color: var(--bg-button);
  border: none;
}

#equal:hover {
  background-color: rgb(from var(--bg-button) r g b / 85%);
}
